<md-card class="green">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">info</md-icon>
    <md-card-header-text>
      <span class="md-title">Situation</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p style="text-align: justify">
      Vous êtes un ingénieur qui analyse des situations à travers un ensemble de <span class="green">capteurs</span>.
      Ces capteurs, dont vous ignorez la <span class="green">fiabilité</span> (sauf mention contraire), vous donnent des informations sur les <span class="green">propriétés</span> d’un objet particulier nommé <span class="green">"o"</span>.

      Ainsi, vous pouvez avoir l’information que <span class="green">"o"</span> a la propriété <span class="green">"A"</span> ("o est un A"), qui peut signifier, par exemple, que <span class="">"o"</span> est rouge, <span class="">"o"</span> est lourd, <span class="">"o"</span> est solide, etc.
    </p>
    <p style="text-align: justify">
      <span class="green" style="font-weight: bold">NB:</span> nous procédons ici à une abstraction par des <span class="green">lettres majuscules</span> afin de s’assurer que le contexte des situations n’influence pas votre réponse.
    </p>

    <p style="text-align: justify">
      Par ailleurs, en tant qu'ingénieur, vous avez des connaissances <span class="green">(généralement vraies)</span> sur les liens entre ces propriétés, Ainsi, dire que <span class="green">"Tout objet qui a la propriété A a aussi la propriété B"</span> indique que le fait qu'un objet a la propriété <span class="green">"A"</span> implique généralement le fait qu'il a la propriété <span class="green">"B"</span>. Par exemple, un lien pourrait être: tout ce qui est "rare" (A) est "cher" (B).
    </p>
    <p style="text-align: justify">
      <span class="green" style="font-weight: bold">NB:</span> ces liens <span class="green">ne s'appliquent qu'à l'intérieur de chaque situation</span>, c’est-à-dire, il n’y a jamais de lien entre les propriétés des différentes situations, même si les lettres sont les mêmes.
    </p>

    <p style="text-align: justify">
      Certaines propriétés <span class="green">ne peuvent apparaître ensemble sur un même objet</span>. Ainsi dire "qu'un objet ne peut pas avoir les propriétés  C et D en même temps" indique, par exemple, un objet ne peut jamais être "cher" (C) et "pas cher" (D) à la fois.
    </p>
  </md-card-content>
</md-card>


<md-card class="red">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">stars</md-icon>
    <md-card-header-text>
      <span class="md-title">Challenge</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p style="text-align: justify">
      Votre mission, si vous l’acceptez, est de répondre aux questions de chaque situation. Vous avez trois réponses possibles: <span class="red">"oui"</span>, <span class="red">"non"</span>, ou <span class="red">"je ne sais pas"</span>. Ainsi, pour une situation donnée, à la question "peut on dire que "o" est un B?":
      <ul>
<li><span class="red">"Oui"</span> indique que vous pouvez conclure que <span class="red">"o" a la propriété "B"</span>.</li>
<li><span class="red">"Non"</span> indique que vous pouvez conclure que <span class="red">"o" n’a pas la propriété "B"</span>.</li>
<li><span class="red">"Je ne sais pas"</span> indique que vous ne pouvez ni conclure que <span class="red">"o" a la propriété "B"</span> ni qu'il <span class="red">n'a pas la propriété "B"</span>.</li>
</ul>
    </p>

    <p style="text-align: justify">
      L'objectif est de voir comment vous réfléchissez en présence <span class="red">d'informations contradictoires</span>. Vous allez voir <span class="red">8 situations</span> qui contiennent des contradictions, pour chaque situation il y aura une question. Vous avez <span class="red">4 minutes</span> pour répondre à chaque question, et <span class="red">2 minutes</span> pour justifier (brièvement) votre réponse.
      <!--<span class="red">Il n'y a pas de bonnes ou de mauvaises réponses</span>.--> Le temps est juste un indicateur pour éviter que l'expérimentation ne dure trop longtemps.
      Vous gagnerez des points et des <span class="red">'achievements'</span> selon vos réponses et vos justifications.
    </p>
  </md-card-content>
</md-card>


<md-card class="blue">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">play_for_work</md-icon>
    <md-card-header-text>
      <span class="md-title">Jouer!</span>
    </md-card-header-text>
  </md-card-header>
    <form name="loginForm" ng-show="home.user == undefined">
      <div class="input-row" layout="row">
        <div flex="20" layout="row" layout-align="start center">SEXE</div>
        <md-radio-group name="gender_radio" ng-required="true" ng-model="home.gender" layout="row" flex>
          <md-radio-button value="0" class="md-primary" flex>Homme</md-radio-button>
          <md-radio-button value="1" flex>Femme</md-radio-button>
        </md-radio-group>
      </div>

      <div class="input-row" layout="row">
        <div flex="20" layout="row" layout-align="start center">AGE</div>
        <md-select name="age_select" ng-required="true" ng-model="home.age" style="text-align: center; margin: 0px;" flex>
          <md-option ng-repeat="age in home.ages" ng-value="age">{{age}}</md-option>
        </md-select>
      </div>

      <div class="input-row" layout="row" layout-align="center center" flex>
        <md-button class="md-primary md-raised" ng-disabled="loginForm.$invalid" ng-click="home.login()">
          Jouer
        </md-button>
      </div>
    </form>

    <md-card-content ng-show="home.user">
      <p style="text-align: center" ng-if="infos.answered_questions >= 7">
        Bien joué! Vous avez répondu à toutes les questions.
      </p>
      <p style="text-align: center" ng-if="infos.answered_questions < 7">
        Il vous reste {{main.infos.answered_questions}} questions!
      </p>
      <div layout="row" layout-align="center center" flex>
        <md-button class="md-primary md-raised" ng-click="main.goTo('/questions')" ng-if="infos.remaining > 0">
          Continuer à Jouer
        </md-button>
        <md-button class="md-primary md-raised" ng-click="main.goTo('/score')" ng-if="infos.remaining <= 0">
          Voir Score
        </md-button>
        <!--<md-button class="md-primary md-raised" ng-click="home.logout()">
          Déconnection
        </md-button>!-->
      </div>
    </md-card-content>
</md-card>


<md-card>
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">change_history</md-icon>
    <md-card-header-text>
      <span class="md-title">About</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p style="text-align: center">
      Ce site utilise des cookies pour vous donnez la meilleur expérience possible. Developpé par Abdelraouf Hecham - 2016.
    </p>
  </md-card-content>
</md-card>
