
<md-card class="red">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">info</md-icon>
    <md-card-header-text>
      <span class="md-title">Situation</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <div layout="row" layout-align="center center">
      <p style="text-align: justify; margin:0px; line-height: 23px" ng-bind-html="ques.situation.situation | trust">
      </p>
    </div>
  </md-card-content>
</md-card>

<!---->
<md-card class="blue" ng-show="!ques.helper.justify && !ques.helper.timeout">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">help</md-icon>
    <md-card-header-text flex>
      <span class="md-title">Question</span>
    </md-card-header-text>
    <div>
      {{ques.helper.minutes}} minute,  {{ques.helper.seconds}} seconds
    </div>
  </md-card-header>
  <md-progress-linear class="md-warn md-hue-1" md-mode="determinate" value="{{ques.helper.progressBar | number:4}}"></md-progress-linear>

    <div class="input-row" layout="row" layout-align="center center" flex ng-hide="ques.question">
      <md-button class="md-primary md-raised" ng-click="ques.getQuestion()">
        Afficher la question
      </md-button>
    </div>
    <!-- Question -->
    <div layout="column" ng-show="ques.question">
      <div class="input-row" layout="row" layout-align="center center" flex >
        <div ng-bind-html="ques.question.question | trust"></div>
      </div>
      <!-- Answer -->
      <form name="answerForm">
      <div class="input-row" layout="row">
          <md-radio-group name="gender_radio" ng-required="true" ng-model="ques.data.answer" layout="row" flex>
            <div layout="row" layout-align="center center" flex>
            <md-radio-button value="1">Oui</md-radio-button></div>
            <div layout="row" layout-align="center center" flex><md-radio-button value="-1">Non</md-radio-button></div>
            <div layout="row" layout-align="center center" flex><md-radio-button value="0">Je ne sais pas</md-radio-button></div>
          </md-radio-group>
      </div>

      <!-- Button -->
      <div class="input-row" layout="row" layout-align="center center" flex>
        <md-button class="md-primary md-raised" ng-disabled="answerForm.$invalid" ng-click="ques.answer()">
          Valider
        </md-button>
      </div>
      </form>
    </div>
</md-card>

<!-- Justification -->
<md-card class="blue" ng-show="ques.helper.justify && !ques.helper.timeout">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">help</md-icon>
    <md-card-header-text flex>
      <span class="md-title">Justification</span>
    </md-card-header-text>
    <div>
      {{ques.helper.minutes}} minute,  {{ques.helper.seconds}} seconds
    </div>
  </md-card-header>
  <md-progress-linear class="md-warn md-hue-1" md-mode="determinate" value="{{ques.helper.progressBar | number:4}}"></md-progress-linear>

    <div class="input-row" layout="row" layout-align="center center" flex >
      <div>Justifiez votre réponse</div>
    </div>
    <!-- Answer -->
      <md-input-container class="md-block" flex style="margin: 0px 20px">
          <label>Justification</label>
          <textarea ng-model="ques.data.justification" md-maxlength="250" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    <!-- Button -->
    <div class="input-row" layout="row" layout-align="center center" flex>
      <md-button class="md-primary md-raised" ng-click="ques.justify()">
        Valider
      </md-button>
    </div>
</md-card>

<!-- Timeout -->
<md-card class="red" ng-show="ques.helper.timeout">
  <md-card-header>
    <md-icon md-font-library="material-icons md-dark">info</md-icon>
    <md-card-header-text>
      <span class="md-title">Timeout</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p style="text-align: center" ng-if="!ques.helper.justify">
      Vous avais mis trop de temps pour répondre à cette question.
    </p>
    <p style="text-align: center" ng-if="ques.helper.justify">
      Vous avais mis trop de temps pour justifier votre réponse.
    </p>
    <div class="input-row" layout="row" layout-align="center center" flex>
      <md-button class="md-primary md-raised" ng-click="ques.reload()">
        Question suivante
      </md-button>
    </div>
  </md-card-content>
</md-card>
